<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.xhushopping.mapper.OrderformMapper">
    <resultMap id="BaseResultMap" type="com.example.xhushopping.entity.Orderform">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="orderFormID" jdbcType="INTEGER" property="orderformid"/>
        <result column="submitTime" jdbcType="VARCHAR" property="submittime"/>
        <result column="consignmentTime" jdbcType="VARCHAR" property="consignmenttime"/>
        <result column="price" jdbcType="INTEGER" property="price"/>
        <result column="isPayoff" jdbcType="VARCHAR" property="ispayoff"/>
        <result column="isConsignment" jdbcType="VARCHAR" property="isconsignment"/>
        <result column="username" jdbcType="VARCHAR" property="username"/>
        <result column="orderFormNum" jdbcType="BIGINT" property="orderformnum"/>
        <result column="oderShoppingName" jdbcType="VARCHAR" property="oderShoppingName"/>
    </resultMap>
    <select id="selectAll" resultMap="BaseResultMap">
        select *
        from orderform
    </select>
    <select id="selectOrderform" resultMap="BaseResultMap">
        select *
        from orderform
        where orderFormNum = #{orderformnum}
    </select>
    <insert id="insertOrderform">
        insert into orderform(submitTime, consignmentTime, price, isPayoff, isConsignment, username,
                              orderFormNum,oderShoppingName) value (#{submittime},#{consignmenttime},#{price},#{ispayoff},#{isconsignment},#{username},#{orderformnum},#{oderShoppingName})
    </insert>
    <update id="updateOrderform">
        update orderform
        set submitTime=#{submittime},
            consignmentTime=#{consignmenttime},
            price=#{price},
            isPayoff=#{ispayoff},
            isConsignment=#{isconsignment},
            username=#{username},
            oderShoppingName=#{oderShoppingName},
            orderFormNum=#{orderformnum}
        where orderFormID = #{orderformid}
    </update>
    <delete id="deleteOrderform">
        delete
        from orderform
        where orderFormNum = #{orderformnum}
    </delete>
    <select id="select_user_orderform" resultMap="BaseResultMap">
        select *
        from orderform
        where username = #{username}
    </select>
    <select id="selectRecentOrderform" resultMap="BaseResultMap">
        select orderFormNum from orderform where orderFormID=(select max(orderFormID) from orderform);
    </select>
</mapper>